.home {
  height: calc(100vh - 7rem);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home img {
  border: 0.2rem solid white;
  border-radius: 50%;
  width: 45rem;
}
.home-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 20rem;
  width: 50rem;
}
.home-hi {
  font-size: 4.5rem;
  color: var(--myBlue);
}
.home-brief {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
}
.resume {
  border: none;
  background: var(--myBlue);
  border-radius: 0.5rem;
  color: white;
  text-shadow: 0.05rem 0 0 black;
  font-size: 1.5rem;
  font-weight: 800;
  width: 13rem;
  height: 4rem;
}
.resume:hover {
  scale: 1.02;
}
.resume:active {
  scale: 1;
}
#resumeA {
  text-decoration: none;
}
.contact {
  width: 100%;
  padding: 0 3rem;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.link{
  font-size: 2.5rem;
  display: flex;
  margin: 0 3rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.link-text{
  color: var(--myBlue);
}
.contact-icons{
  width: 4rem;
}