#project-tab-container{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 3rem;
    box-sizing: border-box;
}
.project-tab-header{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 4rem
}
.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.project{
    width: 30rem;
    height: 25rem;
    border: 2px solid white;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem;
    font-weight: 800;
    background-color: #1d1d1d;
    margin: 3rem;
}
.project-name{
    font-size: 3rem;
    color: var(--myBlue);
}
.project-description{
    font-size: 2rem;
    line-height: 2.5rem;
}
.project-tech-stack{
    font-size: 2rem;
    word-spacing: 1rem;
    color: var(--myBlue);
}
.open-project{
    width: 10rem;
    height: 3rem;
    border: 0.2rem solid white;
    background-color: transparent;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.open-github-repo{
    width: 12rem;
    height: 3rem;
    font-size: 1.3rem;
    border: 0.2rem solid white;
    background-color: transparent;
    color: white;
    border-radius: 1rem;
}
.open-project a, .open-github-repo a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}