:root{
  --myBlue: rgb(74, 213, 255);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
nav {
  height: 5rem;
  border-radius: 3rem;
  background: linear-gradient(0.25turn, #591f74 1%, #1d1d1d 20%, #1d1d1d 60%, #591f74 100%);
  padding: 0 3rem;
  /* border: 0.2rem solid white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  font-weight: 800;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
nav img {
  height: 3rem;
}
nav span {
  font-size: 2rem;
}
.bigMenu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.list li {
  list-style: none;
  font-size: 2rem;
  padding: 0.5rem 0;
  box-sizing: border-box;
}
.list li:hover{
  color: var(--myBlue);
  scale: 1.05;
  cursor: pointer;
}
.list li:active{
  scale: 1;
}
.activeTab{
  color: var(--myBlue);
  border-bottom: 0.2rem solid var(--myBlue);
}
.home {
  width: 100%;
  height: 80vh;
  padding: 10rem 5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home img {
  border: 0.2rem solid white;
  border-radius: 50%;
  width: 40rem;
}
.home-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 20rem;
  width: 50rem;
  /* border: 0.2rem solid white; */
}
.home-hi {
  font-size: 4rem;
  color: var(--myBlue);
}
.home-brief {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
}
.resume{
  border: none;
  background: var(--myBlue);
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 800;
  width: 15rem;
  height: 3rem;
}
.resume:hover{
  scale: 1.02;
}
.resume:active{
  scale: 1;
}
#resumeA{
  text-decoration: none;
}
@media screen and (max-width: 1250px){
  html, body{
    font-size: 50%;
  }
}
@media screen and (max-width: 1000px){
  html, body{
    font-size: 40%;
  }
}
@media screen and (max-width: 800px){
  .home{
    flex-direction: column;
    gap: 5rem;
    padding: 10rem 3rem;
  }
  .home img{
    width: 45rem;
  }
  #resumeA{
    align-self: center;
  }
}