.contact {
    /* border: 2px solid white; */
    width: 100%;
    padding: 5rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.link{
    font-size: 3rem;
    display: flex;
    margin: 3rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.link-arrow{
    color: white;
    font-size: 4rem
}
.link-text{
    color: var(--myBlue);
    /* text-decoration: underline; */
}
.contact-icons{
    width: 6rem
}